$header-bg-color: #002451;
$header-text-color: white;
$text-color: dark blue;
$bg-color: lightblue;
$section-bg-color: lighten($color: $bg-color, $amount: 5);
$tertiary: grey;
$tertiary-hover: #dd931b;
$border-radius: 8px;
$inner-border-radius: 6px;

@import "reset";
@import "header";
@import "aside";
@import "footer";
@import "sections";
@import "articles";
@import "form";

body {
  height: 100%;
  font-family: Georgia, Times, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 120%;
  text-decoration: underline;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 100%;
  font-weight: normal;
}

main {
  display: flex;
  flex: 1 1 0;
}

#About {
  border-radius: $border-radius;
}

#Contact {
  border-radius: $border-radius;
}

#Portfolio {
  border-radius: $border-radius;
} 

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
